---
import Header from '../components/Header.astro';
import LeagueDD from '../components/LeagueDropDownCard.astro';
import League from '../components/LeagueUpcoming.astro';
import H2hExample from '../components/TeamStatCompare.astro';
import LeaderboardRanks from '../components/RatingLeaderBoard.astro';
import FGTable from '../components/Table.astro';
import Gamecard from '../components/teamsh2h.astro';
import GamesUp from '../components/GamesUpcoming.astro';
import LeagueDecider from '../components/LeagueDecider.astro';
import LeagueDashboard from '../components/LeagueDashboard';


import { leaguesData } from "../data/leagues";



let selectedLeague: keyof typeof leaguesData = "laLiga";
const leagueData = leaguesData[selectedLeague];

const top5Power = [...leagueData.teamRatings]
	.sort((a,b) => b.powerRank - a.powerRank)
	.slice(0,5);

const powerTeams = top5Power.map((team) => team.teamName);

const powerTeamStats = top5Power.map((team, index) => [
	index + 1,
	team.powerRank,
	team.xg,
	team.gaAverage
]);

const top5Luck = [...leagueData.teamRatings]
	.sort((a, b) => b.luckRank - a.luckRank)
	.slice(0,5);

const luckTeams = top5Luck.map((team) => team.teamName);

const luckTeamStats = top5Luck.map((team, index) =>[
	index + 1,
	team.luckRank,
	team.xg,
	team.gaAverage
]);

const tableTeamStats = leagueData.standings.map((team) =>[
	team.position,
	team.played,
	team.goalDifference,
	team.points
]);

const tableTeamNames = leagueData.standings.map((team) => (
	team.teamName
))

import '../styles/global.css';
import '../styles/content.css';



const leagues = [
	"All",
	"Premier League",
	"La Liga",
	"Serie A",
	"Bundesliga",
	"Ligue 1"
];
---

<Header />


<div class="content-full">

	

	<div class="content">
		<div class="left-panel">
			<GamesUp
			matchweek = {leagueData.upcomingMatchweek.matchweek}
			games = {leagueData.upcomingMatchweek.games}
			/>
		</div>

		<div class="middle-panel">
			<H2hExample
			title="Featured Game"
			competition = {leagueData.leagueInfo.name}
			team1={leagueData.featuredGame.team1}
			team2={leagueData.featuredGame.team2}
			team1P={leagueData.featuredGame.comparisons.team1Power}
			team2P={leagueData.featuredGame.comparisons.team2Power}
			team1L={leagueData.featuredGame.comparisons.team1Luck}
			team2L={leagueData.featuredGame.comparisons.team2Luck}
			team1Odd={leagueData.featuredGame.odds.team1Win}
			team2Odd={leagueData.featuredGame.odds.team2Win}
			team1HA={leagueData.featuredGame.comparisons.team1HomeAway}
			team2HA={leagueData.featuredGame.comparisons.team2HomeAway}
			team1RR={leagueData.featuredGame.comparisons.team1Recent}
			team2RR={leagueData.featuredGame.comparisons.team2Recent}
			/>

			<LeaderboardRanks
				header="Power Rankings"
				teams={powerTeams}
				logos={["/manCity.png", "/manUnited.png", "/manCity.png", "/manUnited.png", "/manCity.png"]}
				stats={["P%", "XG", "GA"]}
				teamStats={powerTeamStats}
			/>

			<LeaderboardRanks
				header="Luck Rankings"
				teams={luckTeams}
				logos={["/manCity.png", "/manUnited.png", "/manCity.png", "/manUnited.png", "/manCity.png"]}
				stats={["L%", "XG", "GA"]}
				teamStats={luckTeamStats}
			/>

		</div>


		<div class="right-panel">
			<FGTable
				LeagueName="Premier League"
				teams={tableTeamNames}
					
				logos={["/manCity.png", "/manCity.png", "/manCity.png","/manCity.png","/manCity.png","/manCity.png","/manCity.png","/manCity.png","/manCity.png","/manCity.png","/manCity.png","/manCity.png","/manCity.png","/manCity.png","/manCity.png","/manCity.png","/manCity.png","/manCity.png","/manCity.png","/manCity.png"]}
				stats={["GP", "GD", "PTS"]}
				teamStats={tableTeamStats}
				
			/>
			
			
		
		</div>
	</div>
</div>

	
