---
import '../styles/RatingLB.css';
import Leaderboard from '../components/Leaderboard.astro';

interface Props {
  header: string;
  teams: string[];
  logos: string[];
  stats: string[];
  teamStats: (number)[][];
}

const {
  header,
  teams,
  logos,
  stats,
  teamStats
} = Astro.props;
---

<div class="R-LB-wrapper">
  <div class="R-LB-header">
    <p>{header}</p>
    <div class="R-LB-statWrap">
      {
        stats.map((stat) => (
          <div class="R-LB-statHead">
            {stat}
          </div>
        ))
      }
    </div>
  </div>

  <div class="R-LB-content">
    {teams.map((team, index) => (
      <Leaderboard
        team={team}
        teamLogo={logos[index]}
        teamStats={teamStats[index]}
      />
    ))}
  </div>
</div>
