---
import '../styles/teamStatCompare.css';
import Gamecard from '../components/teamsh2h.astro';
import StatComp from '../components/comparison.astro';
const{
    team1,
    team2,
    title,
    competition,
    team1P,
    team2P,
    team1L,
    team2L,
    team1Odd,
    team2Odd,
    team1HA,
    team2HA,
    team1RR,
    team2RR
} = Astro.props;
---

<div class="Main-wrapper">
    <div class="statComp-header">
        <h3>{title} - {competition}</h3>
    </div>

    <div class="statComp-content">
        <Gamecard
            homeTeam="Arsenal"
            awayTeam="Chelsea"
            homeLogo="/manCity.png"
            awayLogo="/manUnited.png"
            status="soon"
            gameDate="Apr 12"
            gameTime="3:00 PM"
            homeScore={0}
            awayScore={0}
        />

        <div class="Power-Rating">
            <StatComp
            party1={team1P}
            party2={team2P}
            stat="Power-Rating"
            />
        </div>

        <div class="Luck-Rating">
            <StatComp
            party1={team1L}
            party2={team2L}
            stat="Luck-Rating"
            />
        </div>

        <div class="Probability">
            <StatComp
            party1={team1Odd}
            party2={team2Odd}
            stat="Probability"
            />
        </div>

        <div class="HA-Form">
            <StatComp
            party1={team1HA}
            party2={team2HA}
            stat="Home/Away Rating"
            />
        </div>

        <div class="Recent-Rating">
            <StatComp
            party1={team1RR}
            party2={team2RR}
            stat="Recent-Rating"
            />
        </div>

    </div>
</div>
